<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.learnningproject">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnningProject"
        tools:targetApi="31">
        <activity
            android:name=".service.BinderActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.MessengerService"
            android:label="@string/bind_message"/>
        <service android:name=".service.LocalService"
            android:label="@string/bind_service"/>
        <service android:name=".service.SetUpService"
            android:label="@string/setUp_intentService"/>
        <service android:name=".service.StartService"
            android:label="@string/start_service" />
        <receiver android:exported="true"
            android:name=".broadcast.ManifestBroadcast"
            android:permission="android.permission.SEND_SMS">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED"/>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>